BODY	{
			font-family: Helvetica, sans-serif, Arial;
			margin-top: 0;
			margin-bottom: 0;
			font-size: 11px;
			color: #009900;
			margin-left: auto}

p		{
			color: #006600	; font-size: 11pt}

h1     {
			color: #733173;
			text-align: Center;
			font-size: 32px;
			font-weight: bold;
	}

h2     {
			color: #733173;
			font-size: 24px;
			font-weight: bold;
	}


h3     {
			color: #733173;
			font-size: 16pt;
			font-weight: bold: 16px;
	}

h4     {
			color: #733173;
			font-size: 12pt;
			font-weight: bold: 14px;
	}

.error	{
			color: #FF0000;
}

.heading {
			font-size: 14pt;
			color: orange;
			font-weight: bold
}

.red	{
			color: red;
}

.validation_message	{
			font-size: 10pt;
			color: red;
}

.small_disp	{
			font-size: 8pt;
}


.field_descr	{
			font-weight: bold
}

a:link {  		color: #003300; 
			text-decoration: underline
}

a:visited 	{ 	color: #003300;
			text-decoration: underline
}

a:active 	{  	color: #003300;
			text-decoration: underline
}

address {  color: #000000}

