<html>
<p>This email is to tell you what you password hint is. Please remember that a 
  password hint should be just that, a hint to help you remember what you password 
  is, it should not be your password.</p>
<p>On line ID = %onlineid%</p>
<p>Password hint = %passwordhint%</p>
<p>Your password is not being emailed to you as it is stored as a one-way hash 
  in the database. This means that the password can be checked to see if it is 
  correct, but no-one, not even system administrators can see what it is.</p>
</html>