<P>Dear %forename%</P>
<P>An online account has been created for you to access <B>%title%</B>. Account details can be found below.
</P>
<P>Online ID = %online_id%</P>
<P>Password  = %password%</P>
<P>You can access <b><A href="%site%/%pythondir%/scout.py?jw_action=login_form">%title% </A></B> from the link provided.</P>
<P>You can change your password and correct your own personal details by clicking on the word "Profile" at the top right of the screen once you have successfully logged in. It is highly recommended that you do change your password to one that only you know and will remember.</P>
<P>It is also recommended that you bookmark <A href="%site%/%pythondir%/scout.py?jw_action=home_page">%title% </A>.</P>

<P>Yours in scouting,</P>

<P>Jim</P>

