<h3>OnLine Agreement</h3>
Before using this website you must agree to the following terms and
conditions. Please indicate your accceptance (or not) with the buttons
at the bottom of the page.&nbsp; If you elect not to accept the
agreement here you will not be permitted to access personal details on
the website.&nbsp; You may accept this agreement later if you so wish.<br>
<ul>
  <li>This website is to be used to assist in the activities and
organisation
of Scouting New Zealand and for no other purposes.</li>
  <li>Personal details contained in the system are not to be divulged
to
anyone outside of Scouting New Zealand, nor are personal details to be
used for any purpose other than assisting and promoting activities of
Scouting New Zealand.</li>
</ul>
<br>
